* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

:root {
    --light-grey: #9f9f9f;
    --line: #f1f1f1;
    --button: #0099ff;
    --grey: #2e2e2e;
    --grey-text: #666666;
    --heading-grey: #333333;
}


a {
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: grey; */
}

.container {
    width: 960px;
    margin: auto;
}

/** HEADER **/

.top-header-line {
    background-color: var(--grey);
}

.authorization {
    padding: 25px 0;
}

.authorization>a {
    font-size: 12px;
    color: var(--light-grey);
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media-icons {
    display: flex;
}

.icon-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: #787878;
}

 
.icon-items:hover {
    background-color: #db4a39;
    cursor: pointer;
}

/** HEADER NAVIGATION **/

.nav-bar-line {
    background-color: var(--line);
    height: 5px;
}

.nav-buttons {
    display: flex;
    align-items: center;
    margin: 40px 0 20px 0;
}

.nav-btn {
    list-style: none;
}

.btn-under-line {
    display: none;
    border-bottom: 5px solid var(--button);
    position: relative;
    top: 25px;
    right: 0px;
    z-index: 1;    
}

.nav-btn:hover .btn-under-line {
    display: block;
    border-bottom: 5px solid var(--button);
} 

.nav-btn>a {
    font-size: 14px;
    margin-right: 20px;
    color: var(--grey);
}

.nav-btn>a:hover {
    color: #9f9f9f;
}



/** HEADING & SEARCH **/

.heading-section {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 45px 0 45px 0;
}

.parent-search {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 36px;
    color: var(--heading-grey);
    cursor: pointer;
}

.h1-subtext {
    font-size: 12px;
    color: #999999;
    margin-top: 10px;
}

.search-field {
    width: 215px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding-left: 7px;
    background-color: #f1f1f1;
}

.search-btn {
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    border: none;
    background-color: var(--button);
    cursor: pointer;
}

/** SLIDER **/

.slider-section {
    background-color: var(--line);
}

.sliders {
    display: grid;
    grid-template-columns: 43% 57%;
}

.slider-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 150px 0 107px 0;
}

.slider-heading {
    font-size: 36px;
    color: var(--heading-grey);
}

.slider-p {
    font-size: 16px;
    color: var(--grey-text);
    padding: 15px 60px 25px 0;
}

.read-more {
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    border: none;
    background-color: var(--button);
    cursor: pointer;
}

.slider-image-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.slider-image {
    width: 100%;
}

.slider-elipses {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 22px;
}

.elipse {
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 100%;
    margin-right: 5px;
    cursor: pointer;
}

.elipse:hover {
    background-color: transparent;
    border: 3.5px solid black ;
}

/** INTRO **/

.intro-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.intro-heading>a {
    font-size: 16px;
    color: var(--button);
}

.intro-p {
    font-size: 13px;
    color: var(--grey-text);
}

.intro-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/** SHOUT SECTION **/

.shout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e0e0e0;
    position: relative;
}

.shout-text { 
    padding: 30px;
}

.shout-heading {
    font-size: 36px;
    color: var(--heading-grey);
}

.shout-p {
    font-size: 18px;
    color: #3e3e3e;
}

.shout-button {
    font-size: 26px;
    color: #e5e4e4;
    padding: 20px 12px;
    border-radius: 10px;
    border: none;
    background-color: var(--button);
    cursor: pointer;
}

.shout-line {
    width: 10px;
    height: 122px;
    background-color: var(--button);
    position: absolute;
    bottom: 0px;
    left: 0;
}

/** FOOTER **/

.footer-section {
    background-color: #1a1a1a;
}

.footer-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-heading {
    font-size: 12px;
    color: white;
}

.about-us-p {
    font-size: 12px;
    color: var(--grey-text);
}

.footer-read-more>a {
    color: var(--button);
    font-size: 12px;
}

.footer-ul  {
    padding: 0;
    /* margin-top: -10px; */
}

.footer-ul > li {
    display: flex;
    align-items: center;
    /* padding: 12px 0 8px 0; */
    border-bottom: 1px solid #232323;
    font-size: 12px; 
}

.footer-ul-links>a {
    color: var(--button);
    padding-left: 5px;
}

/** copyyyyy **/

.post-title {
    font-size: 13px;
    color: #76c38f;
    font-weight: bold;
    margin-bottom: 17px;
}

.blog-text {
    font-size: 10px;
    color: #979797;
    margin: 14px 0;
}

.domain {
    color: #666666;
}

.footer-p, .tweets {
    font-size: 13px;
    color: #979797;
}

.footer-read-more {
    font-size: 13px;
    padding-top: 20px;
}

.footer-read-more>a {
    color: #76c38f;
}

/*** წაშალე ზემოთ **/

.footer-form {
    display: flex;
    flex-direction: column;
}


.footer-line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 40px 0 0 0;
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.footer {
    font-size: 13px;
    margin: 20px 0;
}

.footer-copyright {
    background-color: #222222;
    color: var(--grey-text);
}

/** MEDIA QUERY **/

@media screen and (max-width: 960px) {
    .container {
        width: 90%;
    }
    .top-header {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 10px;
    }
    .icon-items {
        margin-left: 0;
        margin-right: 10px;
    }
    .nav-buttons {
        display: none;
    }
    .heading-section {
        flex-wrap: wrap;
    }
    .heading-1, .parent-search {
        margin: 10px 0;
    }
    .sliders {
        display: flex;
        flex-direction: column;
    }
    .intro-wrapper {
        display: flex;
        flex-direction: column;
    }
    .shout { 
        display: none;
    }


}